* {
    margin:0;
    padding:0;
    -webkit-text-stroke-width: 0px;
    -moz-text-stroke-width: 0px;
    -o-text-stroke-width: 0px;
    -ms-text-stroke-width: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    behavior: url('/ui/js/pie.htc');
    outline:none;
    font-size:12px;
}
html{font-size:12px; }
body {
    font-family: "Microsoft Yahei", "simsun", "Arial";
    background-color: #FFF;
    color: #2a3440;
    font-size:12px;
}
a {
    text-decoration: none;
    blr:expression(this.onFocus=this.blur());
    color: #2a3440;
    font-size:12px;
}
input,img,select,textarea {
    width: auto;
    vertical-align:middle;
    border:0;
}
select {
    appearance: normal;
    -webkit-appearance: none;
    -moz-appearance: normal;
    width: auto;
    min-width: 150px;
    height: 30px;
    border: 1px solid gray;
    /*background: url('../image/icon_select.png') no-repeat right center;*/
    background-size: auto 12px;
    margin: 5px;
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
    padding: 0px 5px;
    padding-right: 30px;
    border-radius: 0;
}
select:hover {
    box-shadow: 0px 0px 3px #666;
}
select option {
    background:transparent;
}
img {
    vertical-align:middle;
    border:0;
}

div, p, dl, dt, dd, ul, ol,li, h1,h2,h3,h4,h5,h6 {
    display: block;
    width: auto;
    height: auto;
}
dt,dd,li {
    font-weight: 400;
}
table {
    border-collapse: separate;
    border-spacing:0px;
    border: 0;
}














