.public_css{
    display: block;
    clear:both;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.head_img{
    display: block;
    clear:both;
    width: 100%;
    overflow: hidden;
}
.body{
    display: block;
    clear:both;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.pos{
    position: relative;
}
.yuyue_bor{
    display: block;
    clear:both;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: 0.5rem;
    left: 0;
}
.yuyue_content{
    display: block;
    clear:both;
    width: 40%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.yuyue{
    display: block;
    clear:both;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.yuyue img{ width: 100%}
.jiantou{
    display: block;
    clear:both;
    width: 40%;
    height: 3rem;
    margin: 0 auto;
    overflow: hidden;
    background: url('../image/m_i.png') no-repeat 50% 50%;
    background-size: auto 50%;
}
.xiazai_back{
    height: auto;
    background: #FFFFFF;
    position: fixed;
    z-index: 10;
    left: 0;
    top:0;
}
.xiaz_bor{
    /*border: 1px solid red;*/
    display: block;
    float:left;
    width: 70%;
    /*padding: 1.5% 0%;*/
    /*width:56%;*/
    /*height: 6rem;*/
    /*padding: 0.5rem 1rem;*/
    overflow: hidden
}
.logo_box {
    width: 20%;
    margin: 1% 0%;
}
.logo_box img {
    display: block;
    float: left;
    /*margin: 1.5% 2% 0% 2%;*/
    width: 100%;
    height: 100%
}
.game_name_js{
    /*border: 1px solid green;*/
    display: block;
    float:left;
    /*width:50%;*/
    margin-left: 0.5rem;
    overflow: hidden;
    margin: 3% 3%;
}
.game_name_js h1{
    display: block;
    width:100%;
    clear: both;
    font-size: 1.4rem;
    color:#BE2343;
    overflow: hidden;
    font-weight:900;
}
.game_name_js p{
    float: left;
    display: block;
    width:100%;
    clear: both;
    font-size: 1rem;
    color:#5C5C5C;
    overflow: hidden;
}
.xiaz_botton{
    display: block;
    float:right;
    width:29%;
    /*border: 1px solid green;*/
    /*padding: 1.1rem 1rem;*/
    /*margin:1% 1%;*/
    margin:3% 0%;
    overflow: hidden;
}
.xiaz_botton img{
    float:right;width: 100%
}
.zhanw{
    display: block;
    width:100%;
    clear: both;
    overflow: hidden;
}
.article_title{
    display: block;
    width:100%;
    clear: both;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}
.article_title li{
    display: block;
    width:25%;
    float:left;
    overflow: hidden;
}
.article_title li p{
    display: block;
    width:40%;
    clear: both;
    height: 3rem;
    line-height:3rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    overflow: hidden;
}
.li_p{
    color:#BE2343 !important;
    border-bottom: 3px solid #BE2343 !important;
}
.article_body{
    display: block;
    width:90%;
    clear: both;
    margin: 1.5rem auto;
    overflow: hidden;
}
.tuijan_bor{
    display: block;
    width:100%;
    height: auto;
    clear: both;
    background: #F2F5FA;
    overflow: hidden;
}
.tuijan_title{
    display: block;
    width:15%;
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    background: #BE2343;
    overflow: hidden;
}
.tuijan_sanjiao{
    display: block;
    float: left;
    margin-top: 0.6rem;
    width:0;
    height:0;
    border-top:0.8rem solid transparent;
    border-bottom:0.8rem solid transparent;
    border-left:0.8rem solid #BE2343;
    overflow: hidden;
}
.tuijan_content{
    display: block;
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    width:80%;
    color: #BE2343;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding-left:0.83rem;
    text-align: left;
}
.article_data{
    display: block;
    width:100%;
    height: auto;
    clear: both;
    overflow: hidden;
}
.article_data .each{
    display: block;
    width:100%;
    height: auto;
    clear: both;
    overflow: hidden;
}
 .each h3{
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    float: left;
    color: #525961;
    overflow: hidden;
}
 .each p{
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    float: left;
    color: #525961;
    overflow: hidden;
}
 .each span{
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    float: left;
    color: #525961;
    overflow: hidden;
}
 .each h3, .each span{
    width:18%;
}
 .each span{
    text-align: right;
    width: 15%;
}
.each p{
    width: 67%;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.jiaz{
    display: block;
    width:95%;
    height: 2.5rem;
    line-height: 2.4rem;
    border: 1px solid #A5A6AA;
    text-align: center;
    color: #A5A6AA;
    clear: both;
    margin: 1rem auto;
    overflow: hidden;
}
.raiders_img{
    display: block;
    clear:both;
    width: 70%;
    /*height: 3rem;*/
    margin: 2rem auto;
    overflow: hidden;
    /*background: url('../image/m_b_bt-h2.png') no-repeat 50% 50%;*/
    /*background-size: auto 50%;*/
}
.raiders_img img{width: 100%}
.raiders_title{
    display: block;
    width:90%;
    clear: both;
    margin: 1.5rem auto;
    overflow: hidden;
}
.raiders_title li{
    display: block;
    width:25%;
    float: left;
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.166rem;
    text-align: center;
    background: #262630;
    color:#FFFFFF;
    overflow: hidden;
}
.selected_raiders_title{
    background:#BE2343 !important;
}
.raiders_article_bor{
    display: block;
    width:90%;
    clear: both;
    margin: 1.5rem auto;
    overflow: hidden;
}
.raiders_article_bor li{
    display: block;
    width:100%;
    clear: both;
    overflow: hidden;
}
.raiders_article_outside{
    display: block;
    width:100%;
    clear: both;
    overflow: hidden;
}
.raiders{
    display: block;
    width:50%;
    float: left;
    padding: 0 0.5rem;
    overflow: hidden;
}
.raiders_article_img{
    display: block;
    width:100%;
    clear: both;
    overflow: hidden;
}
.raiders_article_img img{
    width: 100%;
}
.raiders h2{
    display: block;
    width:100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.166rem;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.raiders p{
    display: block;
    width:100%;
    height: 2.7rem;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.raiders span{
    display: block;
    width:100%;
    padding: 1rem 0;
    clear: both;
    text-align: right;
    overflow: hidden;
}
.thick_line{
    display: block;
    width:12%;
    height: 0.2rem;
    margin-bottom:0.5rem;
    background: #BE2343;
    overflow: hidden;
}
.each_page{
    display: block;
    clear: both;
    width: 7rem;
    margin: 1rem auto;
    overflow: hidden;
}
.raiders_left{
    display: block;
    float: left;
    width: 3rem;
    height: 3rem;

    overflow: hidden;
}
.raiders_right{
    display: block;
    float: left;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    overflow: hidden;
}

/*群星璀璨*/
.player_introduction{
    background: url('../image/m_a_bj2.jpg') no-repeat;
}
.player_title {
    display: block;
    clear: both;
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
}
.player_title img{width:100%}
.player_animation{
    display: block;
    clear: both;
    width: 80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.jiachang{
    display: block;
    clear: both;
    width: 120rem;
    overflow: hidden;
}
.each_player_img{
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    opacity:0.4;
    filter:alpha(opacity=40);
}
.each_player_img img{width: 100%}
.colse_opacity{
    opacity:1;
    filter:alpha(opacity=100);
}
.player_attr{
    display: block;
    clear: both;
    width: 75%;
    height: auto;
    margin: 2rem auto;
    overflow: hidden;
}
.specialty_attr{
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    margin:1rem 0;
    overflow: hidden;
}
.attr_img{
    display: block;
    float: left;
    width: 1.5rem;
    height: auto;
    overflow: hidden;
}
.attr_img img{ width:100%}
.attr_text{
    display: block;
    float: left;
    width: 90%;
    height: auto;
    padding-left:1rem;
    overflow: hidden;
}
.attr_text p{
    display: block;
    float: left;
    width:5.83rem;
    height: auto;
    font-size: 1.16rem;
    color: #C7C7C9;
    overflow: hidden;
}
.attr_text span{
    display: block;
    float: left;
    width: 57%;
    height: auto;
    /*line-height: 1.33rem;*/
    font-size: 1.16rem;
    color: #FDD982;
    /*padding: 1rem 0;*/
    overflow: hidden;
}
.ability{
    width: 100% !important;
}
.ability_jiafen{
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    background: #2C2C34;
    overflow: hidden;
}
.add_points{
    display: block;
    float: left;
    width: 33.33%;
    height: auto;
    /*line-height: 1.33rem;*/
    font-size: 1.16rem;
    color: #FDD982;
    padding: 1rem 0;
    text-align: center;
    overflow: hidden;
}
.gay_friend{
    display: block;
    float: left;
    width: 33.33%;
    border-radius: 100rem;
    overflow: hidden;
}
.gay_friend img{
    width: 100%;
}
/*群星璀璨*/

/*综合功能区--开始*/
.game_characteristic{
    background: url('../image/m_c_bj.jpg') no-repeat;
}
.game_characteristic_title{
    display: block;
    clear: both;
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    overflow: hidden;
}
.game_characteristic_title img{width:100%;}
/*综合功能区--结束*/

/*预约功能以及游戏特色以及底部--开始*/
.complex{
    display: block;
    clear: both;
    width:80%;
    margin: 0 auto;
    overflow: hidden;
}
.complex_individual{
    display: block;
    float:left;
    width: 25%;
    height: auto;
    overflow: hidden;
}
.qqqun_common{
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    overflow: hidden;
}
.qqqun_font_common{
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.16rem;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}
.qqqun{background:url(../image/m_fx_img1.png) no-repeat scroll 0px 0px transparent;background-size: 25rem auto;}
.wanjia{background:url(../image/m_fx_img1.png) no-repeat scroll -90px 0px transparent;background-size: 25rem auto;}
.fenx{background:url(../image/m_fx_img1.png) no-repeat scroll -178px 0px transparent;background-size: 25rem auto;}
.web{background:url(../image/m_fx_img1.png) -264px 0.8px transparent;background-size: 25rem auto;}
.footer{
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    background:url(../image/m_b_bj_2.png) no-repeat;
    background-size: 100% 100%;
    padding: 1rem 1rem;
    overflow: hidden;
}
.company_present{
    display: block;
    float: left;
    width:80%;
    height: auto;
    color: #6D6D6D;
    overflow: hidden;
}
.return_vertex{
    display: block;
    float: right;
    width:12%;
    height: auto;
    overflow: hidden;
}
.return_vertex img{width: 100%}
.head_bor{
    /*border: 1px solid rebeccapurple;*/
    display: block;
    clear: both;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.floating_layer{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 9;
    left: 0;
    top:0;
}
.floating_layer_bor{
    display: block;
    clear: both;
    width:77%;
    height: auto;
    background-color: #ffffff;
    margin: 18rem auto;
    padding: 2rem 0;
    padding-bottom: 1rem;
    transform: skewX(-10deg);
    position: relative;
}
.reservation_center{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    transform: skewX(10deg);
}
.tel_type{
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #F5F5F5;
    overflow: hidden;
}
.tel_type div{
    display: block;
    float: left;
    width: 50%;
    height: auto;
    overflow: hidden;
}
.tel_type div p{
    display: block;
    width: 60%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.16rem;
    color: #999;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.tel_type_selected{
    color:#BF2345 !important;
    border-bottom: 2px solid #BF2345 !important;
}
.tel_img{
    display: block;
    float: left;
    width: 15%;
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.66rem;
    text-align: center;
    overflow: hidden;
}
.tel{
    display: block;
    float: left;
    width: 85%;
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.16rem;
    overflow: hidden;
    background:#F7F7F7;
}
.psword{
    display: block;
    float: left;
    width: 40%;
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.16rem;
    overflow: hidden;
    background:#F7F7F7;
}
.info_data{
    background:#F7F7F7;
}
.kong{margin: 1rem 0}
.send_code{
    display: block;
    float: left;
    width: 45%;
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.16rem;
    color: #383734;
    text-align: center;
    background:#FCDA83;
    overflow: hidden;
}
.now_yuyue{
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.33rem;
    color: #FBD680;
    text-align: center;
    background:#BE2343;
    overflow: hidden;
}
.colse_yuyue{
    display: block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    /*border-radius: 3rem;*/
    transform: skewX(10deg);
    position: absolute;
    z-index: 10;
    right: -1rem;
    top: -1.34rem;
}
.colse_yuyue img{width: 100%}
/*预约功能以及游戏特色以及底部--结束*/

/*分享--开始*/
.share_layer{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 9;
    left: 0;
    top:0;
}
.share_layer_bor{
    display: block;
    clear: both;
    width:80%;
    height: auto;
    color: #ffffff;
    margin: 0 auto;
}
.share_title_img{
    margin-bottom: 3rem;
}
.share_title_img img{
    width:100%;
}
.apiece_share{
    display: block;
    float: left;
    width:25%;
    height: auto;
    overflow: hidden;
}
.apiece_share div{
    display: block;
    clear: both;
    width:80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.apiece_share div{
    display: block;
    clear: both;
    width:80%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.apiece_share div img{width:100%;}
.apiece_share div p{
    display: block;
    clear: both;
    width:100%;
    height: 3rem;
    line-height: 3rem;
    color: #BEBEBE;
    text-align: center;
    overflow: hidden;
}
/*分享--结束*/

.return_buttom{background: #2F3239;color: #ffffff;}
.return_buttom a{
    display: inline-block;
    width: 2.91rem;
    height: 2.91rem;
    line-height: 2.91rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}
.return_font{
    font-size: 1rem !important;
}
/*新闻文章段--开始*/
.article_title{
    display: block;
    width:100%;
    clear: both;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}
.article_title li{
    display: block;
    width:25%;
    float:left;
    overflow: hidden;
}
.article_title li p{
    display: block;
    width:40%;
    clear: both;
    height: 3rem;
    line-height:3rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    overflow: hidden;
}
.li_p{
    color:#BE2343 !important;
    border-bottom: 3px solid #BE2343 !important;
}
.article_body{
    display: block;
    width:90%;
    clear: both;
    margin: 1.5rem auto;
    overflow: hidden;
}
.tuijan_bor{
    display: block;
    width:100%;
    height: auto;
    clear: both;
    background: #F2F5FA;
    margin-top: 1.5rem;
    overflow: hidden;
}
.tuijan_title{
    display: block;
    width:15%;
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    background: #BE2343;
    overflow: hidden;
}
.tuijan_sanjiao{
    display: block;
    float: left;
    margin-top: 0.6rem;
    width:0;
    height:0;
    border-top:0.8rem solid transparent;
    border-bottom:0.8rem solid transparent;
    border-left:0.8rem solid #BE2343;
    overflow: hidden;
}
.tuijan_content{
    display: block;
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    width:80%;
    color: #BE2343;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding-left:0.83rem;
    text-align: left;
}
/*咨询文章段--结束*/

.complexs{
    margin-top: 2rem;
}

/*文章详情---开始*/
.article_body{
    display: block;
    width:90%;
    clear: both;
    margin: 0 auto;
    overflow: hidden;
}
.body_title{
    display: block;
    width:100%;
    clear: both;
    text-align: center;
    font-size: 1.66rem;
    margin: 1rem 0;
    color: #3E3E3E;
    overflow: hidden;
}
.body_time{
    display: block;
    width:100%;
    clear: both;
    text-align: center;
    font-size: 1.16rem;
    margin: 1rem 0;
    color: #666;
    overflow: hidden;
}
.body_content{
    display: block;
    width:100%;
    clear: both;
    text-indent: 0.5rem;
    font-size: 1rem;
    margin: 1rem 0;
    overflow: hidden;
}
/*文章详情---结束*/

/*攻略文章段--开始*/
.article_title{
    display: block;
    width:100%;
    clear: both;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}
.article_title li{
    display: block;
    width:25%;
    float:left;
    overflow: hidden;
}
.article_title li p{
    display: block;
    width:65%;
    clear: both;
    height: 3rem;
    line-height:3rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    overflow: hidden;
}
.li_p{
    color:#BE2343 !important;
    border-bottom: 3px solid #BE2343 !important;
}

.article_body{
    display: none;
    width:90%;
    clear: both;
    margin: 1.5rem auto;
    overflow: hidden;
}
.article_body_block{
    display: block;
}
.article_data{
    display: block;
    width:100%;
    height: auto;
    clear: both;
    overflow: hidden;
}
.eachs{
    display: block;
    width:100%;
    height: auto;
    clear: both;
    overflow: hidden;
    padding: 0.5rem 0;
    border-bottom: 1px dashed #efefef;
}
 .eachs h3{
    display: block;
    height: auto;
    float: left;
    overflow: hidden;
}
.eachs div{
    display: block;
    height: auto;
    float: left;
    padding: 0 0.25rem;
    overflow: hidden;

}
.eachs div p{
    display: block;
    width: 100%;
    height: 2.9rem;
    line-height: normal;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.eachs span{
    display: block;
    float: left;
    color: #525961;
    margin-top: 25.94px;
    overflow: hidden;
}
.eachs h3{
    width:30%;
}
.eachs h3 img{
    width:100%;
}
.eachs span{
    width: 100%;
}
.eachs div{
    width: 67%;
}

/*攻略文章段--结束*/
img {
    pointer-events: none;
}