<template>
    <div class="vdetail">
        <!--内容&#45;&#45;开始-->
        <div class="public_css">
            <div class="article_body" style="display: block;">
                <div class="body_title" style="font-weight: bolder">
                    {{content.title}}
                </div>
                <div class="body_time" style="border-bottom: 0.1rem solid #e4e4e4;line-height: 2rem">{{content.created_at | yearTime}}</div>
                <div class="body_content" v-html="content.content"></div>

            </div>
        </div>
        <!--内容&#45;&#45;结束-->
        <div class="public_css game_characteristic">
            <v-share :info="shareinfo"></v-share>
        </div>
    </div>
    </div>

</template>

<script>
    import Swiper from 'swiper';
    import 'swiper/dist/css/swiper.css'
    import VShare from '@/components/VShare.vue'
    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    export default {
        data () {
            return {
                shareinfo : {},
                id : (this.$route.query.id) ? this.$route.query.id : '',
                content : [],
            }
        },
        components: {
            VShare
        },
        filters: {
            yearTime(value) {
                if (value) {
                    var date = value.toString();
                    date = date.substring(0, 19);
                    date = date.replace(/-/g, '/');
                    var timestamp = new Date(date).getTime();
                    var date = new Date(timestamp);
                    var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
                    var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
                    var tips = date.getFullYear() + "-" + month + "-" + day;
                    return tips;
                } else {
                    return '--';
                }

            }
        },
        created: function () {
            this.getDetail();
            this.reportArticleData();//记录文章数据浏览数
        },
        methods: {
            getDetail () {
                this.$get("/article/" + this.id, {
                    client_type : 2
                }).then((data) => {
                    if (data.code == 200) {
                        this.content = data.data;
                        //初始化分享信息
                        this.shareinfo.content = this.content.title;
                        this.shareinfo.kj_title = this.content.title;
                    }
                });
            },
            reportArticleData () {
                this.$post("/article/" + this.id + "/stat", {
                    type: 1, //浏览
                }).then((data) => {
                    if (data.code == 200) {
                        console.info('上报文章数据成功',this.id);
                    }
                });
            }
        }
    }
</script>
<style>
    .body_content img{width: 100%}
</style>