<template>
</template>

<script>
    const SITE_DOMAIN = "https://ywcms.allrace.com";
    const SITE_NO = 'd7aqtf3gxy';
    export default {
        SITE_DOMAIN,
        SITE_NO,
    }
</script>
<style>
</style>