<template>
    <div class="varticle">
        <!--<v-return></v-return>-->
        <!--咨询文章&#45;&#45;开始-->
        <div class="public_css">
            <ul class="article_title">
                <li><p :class="{li_p:gl_tag.cat_id == 'latest'}" @click="changeGl(0, 'latest')">最新攻略</p></li>
                <li v-for="(item, index) in nav_list" @click="changeGl(index + 1, item.id)"><p
                        :class="{li_p:gl_tag.cat_id == item.id}">{{item.name}}</p></li>
            </ul>
            <div class="public_css remove_class">
                <swiper :options="glzx_option" ref="glzx_swiper" class="glzx_swiper swiper-no-swiping">
                    <swiper-slide v-for="(item, index) in gl_list">
                        <div class="article_body article_body_block">
                            <div class="article_data">
                                <div class="each eachs" v-for="(item1, index) in item"
                                     style="border-bottom: 0.1rem dashed #e4e4e4">
                                    <router-link :to="{name:'detail',query:{id : item1.id}}">

                                        <h3>
                                            <img :src="item1.thumbnail">
                                        </h3>
                                        <div>
                                            <p>{{item1.title}}
                                            </p>
                                            <span style="margin-top: 12%">{{item1.created_at | yearTime}}</span>
                                        </div>
                                    </router-link>
                                </div>
                            </div>
                            <div class="jiaz" v-if="nomore_page[index]['nomore'] == 0"
                                 @click="loadMore()">查看更多
                            </div>
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
        </div>
        <!--咨询文章&#45;&#45;结束-->
        <div class="public_css game_characteristic">
            <v-share :info="shareinfo"></v-share>
        </div>
    </div>

</template>

<script>
    import Swiper from 'swiper';
    import 'swiper/dist/css/swiper.css'
    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    import VShare from '@/components/VShare.vue'

    export default {
        components: {
            VShare
        },
        data() {
            return {
                shareinfo : {
                    kj_title : '《超级实况》手游攻略中心'
                },
                cat_id: (this.$route.query.cat_id) ? this.$route.query.cat_id : '',
                gl_tag: {
                    cat_id: 'latest',
                    slide_index: 0,
                },
                nomore_page: [],
                nav_ids: [],
                nav_list: [],
                gl_list: [],
                per_page: 5,
                page: 1,
                glzx_option: {
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                },
            }
        },
        created: function () {
            this.getNavList();
            this.reportCatData(3); //上报攻略中心栏目浏览 固定攻略中心id为3
        },
        filters: {
            yearTime(value) {
                var date = value.toString();
                date = date.substring(0, 19);
                date = date.replace(/-/g, '/');
                var timestamp = new Date(date).getTime();
                date = new Date(timestamp);
                var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
                var tips = date.getFullYear() + "-" + month + "-" + day;
                return tips;
            }
        },
        methods: {
            //获得新闻资讯的子栏目
            getNavList() {
                this.$get("/catalogs", {
                    catalog_id: this.cat_id
                }).then((data) => {
                    if (data.code == 200) {
                        this.nav_list = data.data;
                        this.initGlList();
                    }
                })
            },
            //初始化新闻列表内容
            initGlList() {
                var that = this;
                //获得请求文章的id集合
                var nav_list = [], first = [];
                for (var i in this.nav_list) {
                    nav_list.push(this.nav_list[i]['id']);
                    first.push(this.nav_list[i]['id']);
                }
                nav_list.unshift(first);
                this.nav_ids = nav_list;

                getList(0, nav_list.length, this.gl_list, this.nomore_page);

                function getList(j, length, list, nomore_page) {
                    var value = nav_list[j];
                    that.$get('/articles', {
                        catalog_id: value,
                        per_page: that.per_page,
                        page: that.page,
                        sortby: (i == 0) ? 'created_at' : ['sort', 'created_at'],
                        order: ['desc', 'desc']
                    }).then(function (response) {
                        if (response.code == 200) {
                            list.push(response.data.list);
                            var nomore = response.data.total <= that.per_page ? 1 : 0;
                            nomore_page.push({page: 1, nomore: nomore});
                        }
                        if (++j < length) {
                            getList(j, length, list, nomore_page);
                        }
                    });
                }
            },
            changeGl(index, cat_id) {
                this.gl_tag.cat_id = cat_id;
                this.gl_tag.slide_index = index;
                this.$nextTick(function () {
                    this.$refs.glzx_swiper.swiper.slideTo(index, 500, true);
                    if (cat_id != 'latest') {
                        //游戏资讯切换栏目上报栏目数据
                        this.reportCatData(cat_id);
                    }
                })

            },
            loadMore() {
                var cat_id = this.gl_tag.cat_id == 'latest' ? this.nav_ids[0] : this.gl_tag.cat_id;
                var slide_index = this.gl_tag.slide_index;
                this.nomore_page[slide_index]['page']++;
                this.$get("/articles", {
                    catalog_id: cat_id,
                    per_page: this.per_page,
                    page: this.nomore_page[slide_index]['page']
                }).then((data) => {
                    if (data.code == 200) {
                        if (data.data.list.length == 0) {
                            this.nomore_page[slide_index]['nomore'] = 1;
                        } else {
                            for (var i in data.data.list) {
                                this.gl_list[slide_index].push(data.data.list[i]);
                            }
                        }
                    }
                })
            }
        }
    }
</script>
<style>
    /*设置新闻内容swiper自动高度*/
    .remove_class .swiper-slide {
        height: 5rem
    }

    .remove_class .swiper-slide-active {
        height: auto
    }
</style>