<!--<script src="../../../../../../slide/swiper-4.5.0/src/components/autoplay/autoplay.js"></script>-->
<template>
    <div class="vindex">
        <!--<div class="zhanw"></div>-->

        <!--咨询文章&#45;&#45;开始-->
        <div class="public_css">
            <ul class="article_title">
                <li><p :class="{li_p:cate_tab == 'all'}" @click="positionTab(0, 'all')">最新</p></li>
                <li v-for="(item,index) in news_nav_list">
                    <p v-if="index<=3" :class="{li_p:cate_tab == item.id}" @click="positionTab(index + 1,item.id)">
                        {{item.name}}</p>
                </li>
            </ul>

            <div class="article_body" style="display: block;margin: 0 auto">
                <div>
                    <swiper :options="news_swiperOption" ref="news_mySwiper" class="news_mySwiper swiper-no-swiping"
                            v-if="news_list.length > 0">
                        <swiper-slide v-for="(item, index) in news_list">
                            <div class="tuijan_bor">
                                <div class="tuijan_title">推荐</div>
                                <div class="tuijan_sanjiao"></div>

                                <router-link :to="{name:'detail',query:{id:item[0]['id']}}">
                                    <div class="tuijan_content">{{item[0]['title']}}</div>
                                </router-link>
                            </div>
                            <div class="article_data">
                                <div class="each" v-if="item.length > 0" v-for="(item1,index1) in item">
                                    <div v-if="index1 <= 6 && index1 >= 1">
                                        <router-link :to="{name:'detail',query:{id:item1.id}}">
                                            <h3>【{{item1.catalog_name}}】</h3>
                                            <p>{{item1.title}}</p>
                                            <span>{{item1.created_at | filterTime}}</span>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                            <router-link
                                    :to="{name:'news',query:{cat_id :first_cate_id.news_cate_id}}">
                                <div class="jiaz">查看更多</div>
                            </router-link>
                        </swiper-slide>
                    </swiper>
                </div>
            </div>
        </div>
        <!--咨询文章&#45;&#45;结束-->
        <!--群星璀璨&#45;&#45;开始-->
        <div class="public_css player_introduction" style="background-size: cover;background-position: 50%">

            <div class="player_title">
                <img src="../assets/image/m_a_bt-h1.png"/>
            </div>
            <div>
                <div class="player_animation">
                    <div class="player_lunbo">
                        <swiper :options="player_swiperOption" ref="player_mySwiper" class="player_mySwiper">
                            <!-- slides -->
                            <swiper-slide v-for="(item,index) in player_list">
                                <div class="imgbox"><img :src="item.avatar"/></div>
                            </swiper-slide>
                        </swiper>
                    </div>
                </div>
                <div class="player_attr" style="margin-top: 0%">
                    <div class="specialty_attr">
                        <div class="attr_img">
                            <img src="../assets/image/m_a_tb_img1.png"/>
                        </div>
                        <div class="attr_text">
                            <p style="width: 7rem">擅长位置：</p>
                            <span>
                               {{player_attr.best_position}}
                            </span>
                        </div>
                    </div>
                    <div class="specialty_attr">
                        <div class="attr_img">
                            <img src="../assets/image/m_a_tb_img2.png"/>
                        </div>
                        <div class="attr_text">
                            <p class="ability index_letter">{{player_attr.skill}}</p>
                            <div class="ability_jiafen">
                                <div class="add_points"
                                     v-for="item in player_attr.skill_improvement">{{item}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="specialty_attr">
                        <div class="attr_img">
                            <img src="../assets/image/m_a_tb_img3.png"/>
                        </div>
                        <div class="attr_text">
                            <p class="ability index_letter">对象球员</p>
                            <div class="" style="position: relative">
                                <div class="gay_friend" style="background-color: grey;width: 25%;margin-right: 2%"
                                     v-for="item in player_attr.object_player">
                                    <div class="imgbox" style="width: 100%;margin: 0 auto;height: auto"><img
                                            :src="item"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="specialty_attr">
                        <div class="attr_img">
                            <img src="../assets/image/m_a_tb_img4.png"/>
                        </div>
                        <div class="attr_text" style="position: relative">
                            <p class="ability index_letter">个人属性</p>
                            <div>
                                <MyEcharts v-if="chart_value.length > 1" :items="chart_value"></MyEcharts>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--群星璀璨&#45;&#45;结束-->

        <!--    攻略&#45;&#45;&#45;&#45;开始-->
        <div class="public_css glzx">
            <div class="raiders_img"><img src="../assets/image/m_b_bt-h2.png"></div>
            <ul class="raiders_title">
                <li :class="{selected_raiders_title:gl_tab == 'latest'}" @click="changeGl('0','latest')">最新攻略</li>
                <li :class="{selected_raiders_title:gl_tab == item.id}"
                    v-for="(item, index) in gl_nav_list" @click="changeGl(index+1,item.id)">{{item.name}}
                </li>
            </ul>
            <ol class="raiders_article_bor">
                <li>
                    <div class="raiders_article_outside" style="position: relative">
                        <swiper :options="gl_option" ref="gl_swiper" class="gl_swiper swiper-no-swiping">
                            <swiper-slide v-for="(item, index) in gl_list">

                                <div class="">
                                    <!--箭头滑动内容开始-->
                                    <div class="public_css raiders_article_content">
                                        <div v-if="item.length == page_length">
                                            <swiper :options="page_option" ref="page_swiper"
                                                    class="page_swiper ">
                                                <swiper-slide style="width: 50%" v-for="(item1, index1) in item">
                                                    <router-link :to="{name:'detail',query:{id:item1.id}}">
                                                        <div class="raiders" style="width: 100%">
                                                            <div class="raiders_article_img"><img
                                                                    :src="item1.thumbnail">
                                                            </div>

                                                            <h2>{{item1.title}}</h2>
                                                            <div class="thick_line"></div>
                                                            <p>{{item1.summary}}</p>
                                                            <span>{{item1.created_at | yearTime}}</span>
                                                        </div>
                                                    </router-link>
                                                </swiper-slide>
                                                <!--查看更多-->
                                                <swiper-slide>
                                                    <router-link
                                                            :to="{name:'gonglue',query:{cat_id : first_cate_id.gl_cate_id}}">
                                                        <div class="raiders" style="width: 100%">
                                                            <img style="width:100%;"
                                                                 src="../assets/image/m_b_bt-gd.png">
                                                        </div>
                                                    </router-link>
                                                </swiper-slide>
                                            </swiper>
                                            <!--攻略底部箭头-->
                                            <div class="public_css"
                                                 style="position: relative;overflow: visible;margin-top: 1rem;height: 3rem">

                                                <div class="each_page">
                                                    <div class="raiders_left swiper-button-prev page_swiper_btns">
                                                        <img style="width:100%"
                                                             src="../assets/image/raiders_left_3.jpg">
                                                    </div>

                                                    <div class="raiders_right swiper-button-next page_swiper_btns">
                                                        <img style="width:100%"
                                                             src="../assets/image/raiders_right_1.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--箭头滑动内容结束-->
                                </div>
                            </swiper-slide>
                        </swiper>
                    </div>
                </li>
            </ol>
        </div>
        <!--    攻略-&#45;&#45;结束-->

        <!--游戏特色&#45;&#45;开始-->
        <div class="public_css game_characteristic">
            <div class="game_characteristic_title">
                <img src="../assets/image/m_c_bt-h3.png"/>
            </div>
            <div class="tese_lunbo">
                <swiper v-if="banner_list.length>0" :options="tese_swiperOption" ref="tese_mySwiper"
                        class="tese_mySwiper">
                    <!-- slides -->
                    <swiper-slide v-for="item in banner_list">
                        <div class="imgbox"><img :src="item.img_url"/></div>
                    </swiper-slide>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                </swiper>
            </div>
            <v-share :info="shareinfo"></v-share>
        </div>
        <!--游戏特色&#45;&#45;结束-->
    </div>
</template>

<script>
    import MyEcharts from '@/components/VChart.vue'
    import VShare from '@/components/VShare.vue'
    import 'swiper/dist/css/swiper.css'
    import {swiper} from 'vue-awesome-swiper'
    import SwiperSlide from "../../node_modules/vue-awesome-swiper/src/slide.vue";

    export default {
        components: {
            SwiperSlide,
            swiper,
            MyEcharts,
            VShare
        },
        data() {
            return {
                player_api : this.GLOBAL.SITE_DOMAIN + '/api/cjsk/' + this.GLOBAL.SITE_NO,
                shareinfo: {
                    kj_title: '《超级实况》手游官网',
                },
                page_length : 0,//攻略中心多行slides分布的slide的长度个数，解决箭头无法到最后一页的异常
                news_list: [],
                data: [],
                is_show_mask: 0,
                per_page: 5,//每页记录数
                device_type: 'ios',
                cate_tab: 'all', //默认选中全部
                is_send: true,
                gl_tab: 'latest',//攻略默认最新
                first_cate_id: {}, //一级分类栏目id
                news_nav_list: [],
                gl_nav_list: [],
                gl_list: [],
                player_list: [],
                player_attr: [],
                chart_value: [],

                banner_list: [],
                dataJson: {},
                gl_option: {
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                },
                page_option: {
                    slidesPerView: '2',
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    slidesPerColumn: 2,
//                    spaceBetween: 2,
                    navigation: {
                        nextEl: '.raiders_article_content .page_swiper_btns.swiper-button-next',
                        prevEl: '.raiders_article_content .page_swiper_btns.swiper-button-prev',
                    },
                },
                news_swiperOption: {
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                },
                tese_swiperOption: {
                    autoplay: true,
                    loop: true,
                    effect: 'coverflow',
                    centeredSlides: true,

                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 50,
                        stretch: 100,
                        depth: 400,
                        modifier: 1,
                    },
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    navigation: {
                        nextEl: '.tese_mySwiper .swiper-button-next',
                        prevEl: '.tese_mySwiper .swiper-button-prev',
                    },
                },
                player_swiperOption: {
                    initialSlide: 1,
                    centeredSlides: true,
                    observer: true,//修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    slidesPerView: '3',
                }
            }
        },
        computed: {
            swiper() {
                return this.$refs.player_mySwiper.swiper
            },
            newsSwiper() {
                return this.$refs.news_mySwiper.swiper
            },
        },
        mounted() {
            let vm = this;
            //切换对象球员
            this.$nextTick(function () {
                this.swiper.on('slideChangeTransitionEnd', function () {
                    vm.activeIndex = this.activeIndex;
                    vm.player_attr = vm.player_list[vm.activeIndex];
                    //处理球员属性最佳位置数据
                    if (vm.player_attr.best_position) {
                        var position = vm.player_attr.best_position;
                        if (position.length > 1 && typeof position == 'object') {
                            var attr = vm.player_attr.best_position;
                            vm.player_attr.best_position = attr.join('，');
                        } else {
                            vm.player_attr.best_position = vm.player_attr.best_position + '';
                        }
                        vm.formatChartValue();
                    }
                });
            });
        },
        filters: {
            yearTime(value) {
                var date = value.toString();
                date = date.substring(0, 19);
                date = date.replace(/-/g, '/');
                var timestamp = new Date(date).getTime();
                date = new Date(timestamp);
                var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
                var tips = date.getFullYear() + "-" + month + "-" + day;
                return tips;
            },
        },
        created: function () {
            this.getCatelog();
            this.getPlayers();
            this.getTeseBanners();
            this.reportCatData(1); //上报首页栏目浏览
        },

        methods: {
            //获得栏目列表
            getCatelog() {
                this.$get("/catalogs", {}).then((data) => {
                    var rtn_data = data.data;
                    var news_nav_list = [];
                    var gl_nav_list = [];
                    for (var i = 0; i < rtn_data.length; i++) {
                        var list = rtn_data[i];
                        if (i == 1) {
                            //一级新闻资讯下的二级分类
                            this.first_cate_id.news_cate_id = list.id;
                            news_nav_list.push(list.sub_catalogs);
                        } else if (i == 2) {
                            //一级攻略中心下的二级分类
                            this.first_cate_id.gl_cate_id = list.id;
                            gl_nav_list.push(list.sub_catalogs);
                        }
                    }
                    this.news_nav_list = news_nav_list[0];
                    this.gl_nav_list = gl_nav_list[0];
                    this.initNewsList(); //初始化新闻列表
                    this.initGlList(); //初始化攻略列表
                });
            },
            initNewsList() {
                var that = this;
                //获得请求文章的id集合
                var nav_list = [], first = [];
                for (var i in this.news_nav_list) {
                    nav_list.push(this.news_nav_list[i]['id']);
                    first.push(this.news_nav_list[i]['id']);
                }
                nav_list.unshift(first);
                getList(0, nav_list.length, this.news_list);

                function getList(j, length, list) {
                    var value = nav_list[j];
                    that.$get('/articles', {
                        catalog_id: value,
                        per_page: 6,
                        page: 1,
                        sortby: (i == 0) ? ['created_at', 'sort'] : ['sort', 'created_at'],
                        order: ['desc', 'desc']
                    }).then(function (response) {
                        if (response.code == 200) {
                            list.push(response.data.list);
                            if (++j < length) {
                                getList(j, length, list);
                            }
                        }
                    });
                }

            },
            //选择文章类型
            positionTab(index, catalog_id) {
                this.cate_tab = catalog_id == 'all' ? 'all' : catalog_id;
                this.$nextTick(function () {
                    this.newsSwiper.slideTo(index, 500, true);
                })
            },
            initGlList() {
                var that = this;
                //获得请求文章的id集合
                var nav_list = [], first = [];
                for (var i in this.gl_nav_list) {
                    nav_list.push(this.gl_nav_list[i]['id']);
                    first.push(this.gl_nav_list[i]['id']);
                }
                nav_list.unshift(first);

                getList(0, nav_list.length, this.gl_list);

                function getList(j, length, list) {
                    var value = nav_list[j];
                    that.$get('/articles', {
                        catalog_id: value,
                        per_page: 11,
                        page: 1,
                        sortby: (i == 0) ? ['created_at', 'sort'] : ['sort', 'created_at'],
                        order: ['desc', 'desc']
                    }).then(function (response) {
                        that.$nextTick(function() {
                            list.push(response.data.list);
                            if (j == 0) {
                                this.page_length = response.data.list.length;
                            }
                            if (++j < length) {
                                getList(j, length, list);
                            }
                        })

                    });
                }
            },
            //选择攻略
            changeGl(index, catalog_id) {
                this.gl_tab = catalog_id == 'latest' ? 'latest' : catalog_id;
                this.$nextTick(function () {
                    this.page_length = this.gl_list[index].length;
                    this.$refs.gl_swiper.swiper.slideTo(index, 300, true);
                })
            },
            //获得足球员
            getPlayers() {
                this.$get(this.player_api + "/players", {
                    client_type: 2
                }).then((data) => {
                    this.$nextTick(function () {
                        if (data.code == 200 && data.data.length > 0) {
                            this.player_list = data.data;
                            this.player_attr = this.player_list.length > 1 ? this.player_list[1] : this.player_list[0];
                            this.swiper.slideTo(1, 1000, true);
                            this.formatChartValue();
                            //处理球员属性最佳位置数据
                            if (this.player_attr.best_position.length > 1 && typeof this.player_attr.best_position == 'object') {
                                this.player_attr.best_position = this.player_attr.best_position.join('，');
                            } else {
                                this.player_attr.best_position = this.player_attr.best_position + '';
                            }
                        }

                    })
                });
            },
            //格式化图标数据传值切换
            formatChartValue() {
                var chart = [
                    {name: '射门', prop: 'prop_shooting'}, {name: '速度', prop: 'prop_speed'},
                    {name: '控球', prop: 'prop_control'}, {name: '防守', prop: 'prop_defense'},
                    {name: '身体', prop: 'prop_body'}, {name: '传球', prop: 'prop_speed'}

                ];
                var chart_value = [];
                for (let i in chart) {
                    var value = this.player_attr[chart[i]['prop']];
                    var obj = {name: chart[i]['name'] + ' ' + value, value: value, max: 100};
                    chart_value.push(obj);
                }
                this.chart_value = chart_value;
            },
            getTeseBanners() {
                this.$get("/banners", {
                    category_id: 1, //固定写死轮播图的分类ID
                    client_type: 2, //客户端 h5
                }).then((data) => {
                    this.banner_list = data.data;
                });
            },
        }
    }
</script>
<style>
    /*修改新增样式*/
    .vindex .index_letter {
        letter-spacing: 0.05rem;
    }

    .vindex .specialty_attr .ability {
        margin-bottom: 3%;
    }

    .vindex .glzx {
        background: url(../assets/image/m_b_bj.jpg) no-repeat;
        background-size: cover;
    }

    .vindex .game_characteristic {
        /*background-position: 50%;*/
        /*background-position: bottom;*/
        background-size: cover;
    }

    /*修改新增样式*/

    .vindex .floating_layer {
        display: block
    }

    .game_characteristic .tese_lunbo {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10%;
    }

    .game_characteristic .tese_lunbo .swiper-slide .imgbox {
        width: 80%;
        /*height: 20%;*/
        margin: 0 auto;
        overflow: hidden;

    }

    .game_characteristic .tese_lunbo .swiper-slide img {
        width: 100%;
        height: 5%;
    }

    .game_characteristic .tese_lunbo .swiper-button-prev {
        width: 3rem;
        height: 5rem;
        background: url(../assets/image/m_fanye-jiantou.png) no-repeat 0px 8px transparent;
    }

    .game_characteristic .tese_lunbo .swiper-button-next {
        width: 3rem;
        height: 5rem;
        background: url(../assets/image/m_fanye-jiantou.png) no-repeat -690px 8px transparent;
    }

    /*球员样式*/
    .player_lunbo .swiper-slide {
        /*text-align: center;*/
        font-size: 18px;
        /*background: #fff;*/
        width: 35%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        transition: 300ms;
        /*border:1px solid red;*/
    }

    .player_lunbo .swiper-slide .imgbox {
        overflow: hidden
    }

    .player_lunbo .swiper-slide .imgbox img {
        width: 100%;
    }

    .player_lunbo .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.9);
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }

    .player_attr .gay_friend {
        /*background-color: grey;*/
    }

    /*攻略中心的箭头*/
    .raiders_article_outside .each_page {
    }

    .raiders_article_outside .each_page .swiper-button-next {
        width: 3rem;
        height: 3rem;
        right: 36%;
    }

    .raiders_article_outside .each_page .swiper-button-prev {
        width: 3rem;
        height: 3rem;
        left: 36%
    }
</style>