<template>
    <div class="vnews">
        <div class="public_css">
            <div class="vnews_lunbo">
                <swiper v-if="banner_list.length > 0" :options="vnews_option" ref="vnews_swiper" class="vnews_swiper">
                    <swiper-slide v-for="item in banner_list">
                        <a :href="item.link_url">
                            <div class="imgbox">
                                <img :src="item.img_url"/>
                            </div>
                        </a>
                    </swiper-slide>
                    <div class="swiper-pagination" slot="pagination"></div>
                </swiper>
            </div>
        </div>
        <!--咨询文章&#45;&#45;开始-->
        <div class="public_css">
            <ul class="article_title">
                <li><p :class="{li_p:news_tag.cat_id == 'latest'}" @click="changeNews(0, 'latest')">最新</p></li>
                <li v-for="(item, index) in nav_list" @click="changeNews(index + 1, item.id)"><p
                        :class="{li_p:news_tag.cat_id == item.id}">{{item.name}}</p></li>
            </ul>
            <div class="article_body" style="display: block;margin: 0 auto;">
                <swiper id="swiper_content" :option="vnews_content_option" ref="vnews_content_swiper"
                        class="vnews_content_swiper swiper-no-swiping">
                    <swiper-slide v-for="(item, index) in vnews_list">
                        <div class="swiper_detail">
                            <router-link :to="{name:'detail',query:{id : item[0]['id']}}">
                            <div class="tuijan_bor">
                                <div class="tuijan_title">推荐</div>
                                <div class="tuijan_sanjiao"></div>
                                <div class="tuijan_content">{{item[0]['title']}}</div>
                            </div>
                            </router-link>
                            <div v-for="(item1, index1) in item">
                                <div class="article_data" v-if="index1 >= 1 " style="border-bottom: 0.1rem dashed #e4e4e4">
                                    <router-link :to="{name:'detail',query:{id : item1.id}}">
                                        <div class="each">
                                            <h3>【{{item1.catalog_name}}】</h3>
                                            <p>{{item1.title}}</p><span>{{item1.created_at | filterTime}}</span>
                                        </div>
                                    </router-link>
                                </div>
                            </div>
                            <div class="jiaz" v-if="nomore_page[index]['nomore'] == 0"
                                 @click="loadMore()">查看更多
                            </div>
                        </div>
                    </swiper-slide>
                </swiper>

            </div>

        </div>
        <!--咨询文章&#45;&#45;结束-->
        <div class="public_css game_characteristic">
            <v-share :info="shareinfo"></v-share>
        </div>
    </div>
</template>

<script>
    import Swiper from 'swiper';
    import 'swiper/dist/css/swiper.css'
    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    import VShare from '@/components/VShare.vue'
    export default {
        components: {
            VShare
        },
        data() {
            return {
                shareinfo : {
                    kj_title : '《超级实况》手游游戏资讯'
                },
                cat_id: this.$route.query.cat_id ? this.$route.query.cat_id : '',
                news_tag: {
                    cat_id: 'latest',
                    slide_index: 0,
                },
                nomore_page: [], //保存每个轮播swiper-slide的page和nomore参数，决定是否显示某个选项卡的查看更多和分页
                page: 1,
                per_page: 9,
                nav_ids: [],
                nav_list: [],
                tuijian_list: [],
                vnews_list: [],
                banner_list: [],
                vnews_content_option: {
                    observer: true,
                    observeParents: true,
                    autoHeight: true,
                },
                vnews_option: {
                    autoplay: true,
                    pagination: {
                        el: ".vnews .vnews_swiper .swiper-pagination",
                        clickable: true,
                    },
                    observer: true,
                    observeParents: true,//修改swiper的父元素时，自动初始化swiper
                    paginationBulletRender: function (index, className) {
                        return '<span class="' + className + '">' + (index + 1) + '</span>';
                    },
                },
            }
        },
        computed: {
            swiper() {
                return this.$refs.vnews_swiper.swiper
            }
        },
        created: function () {
            this.getNavList();
            this.getBanners();
            this.reportCatData(2); //上报新闻资讯栏目数据 固定新闻资讯id为2
        },
        methods: {
            getBanners() {
                this.$get("/banners", {
                    category_id: '2', //固定写死轮播图的分类ID
                    client_type: 2, //客户端 h5
                }).then((data) => {
                    if (data.code == 200) {
                        this.banner_list = data.data;
                    }
                })
            },
            //获得新闻资讯的子栏目
            getNavList() {
                this.$get("/catalogs", {
                    catalog_id: this.cat_id
                }).then((data) => {
                    if (data.code == 200) {
                        this.nav_list = data.data;
                        this.initNewsList();
                    }
                })
            },
            //初始化新闻列表内容
            initNewsList() {
                var that = this;
                //获得请求文章的id集合
                var nav_list = [], first = [];
                for (var i in this.nav_list) {
                    nav_list.push(this.nav_list[i]['id']);
                    first.push(this.nav_list[i]['id']);
                }
                nav_list.unshift(first);
                this.nav_ids = nav_list;

                getList(0, nav_list.length, this.vnews_list, this.nomore_page);
                function getList(j, length, list, nomore_page) {
                    var value = nav_list[j];
                    that.$get('/articles', {
                        catalog_id: value,
                        per_page: that.per_page,
                        page: that.page,
                        sortby: (i == 0) ? ['created_at','sort'] : ['sort', 'created_at'],
                        order: ['desc', 'desc'],
                    }).then(function (response) {
                        if (response.code == 200) {
                            list.push(response.data.list);
                            var nomore = response.data.total <= that.per_page ? 1 : 0;
                            nomore_page.push({page: 1, nomore: nomore});
                        }
                        if (++j < length) {
                            getList(j, length, list, nomore_page);
                        }
                    });
                }
            },
            changeNews(index, cat_id) {
                this.news_tag.cat_id = cat_id;
                this.news_tag.slide_index = index;
                this.$nextTick(function () {
                    this.$refs.vnews_content_swiper.swiper.slideTo(index, 500, true);
                    if (cat_id != 'latest') {
                        //游戏资讯切换栏目上报栏目数据
                        this.reportCatData(cat_id);
                    }
                })

            },
            loadMore() {
                var cat_id = this.news_tag.cat_id == 'latest' ? this.nav_ids[0] : this.news_tag.cat_id;
                var slide_index = this.news_tag.slide_index;
                this.nomore_page[slide_index]['page']++;
                console.info(this.nomore_page[slide_index]['page']);
                this.$get("/articles", {
                    catalog_id: cat_id,
                    per_page: this.per_page,
                    page: this.nomore_page[slide_index]['page']
                }).then((data) => {
                    if (data.code == 200) {
                        console.info(data.data.list.length);
                        if (data.data.list.length == 0) {
                            this.nomore_page[slide_index]['nomore'] = 1;
                        } else {
                            for (var i in data.data.list) {
                                this.vnews_list[slide_index].push(data.data.list[i]);
                            }
                        }
                    }
                })
            }
        }
    }

</script>
<style>
    /*原点顶部轮播图*/
    /*.vnews_swiper .swiper-pagination{width: 1rem;height: 1rem;}*/
    .vnews_swiper .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: red;
        opacity: 1;
        /*background: rgba(0,0,0,0.2);*/
    }

    .vnews_swiper .swiper-pagination-bullet-active {
        color: #fff;
        background-color: #BE2343;
        width: 3rem;
        height: 1rem;
        border-radius: 2rem;
    }

    .vnews_swiper .imgbox {
        width: 100%
    }

    .vnews_swiper .imgbox img {
        width: 100%;
        height: 100%
    }

    /*设置新闻内容swiper自动高度*/
    .article_body .swiper-slide {
        height: 5rem
    }

    .article_body .swiper-slide-active {
        height: auto
    }
</style>