<template>
    <div class="MyEcharts">
        <div id="mychart" style="width:100%;height:15rem;"></div>
    </div>
</template>

<script>
    // 引入基本模板
    let echarts = require('echarts/lib/echarts')

    export default {
        name: 'MyEcharts',
        props: {                //接受父组件传递来的数据
            items: {
                type: Array,
            },
        },
        data() {
            return {
                MyEcharts: "", //echart实例
            }
        },
        mounted() {
            this.drawLine(this.items);
        },
        computed: {
        },
        watch: {
            items: {
                handler(newVal, oldVal) {
                    this.drawLine(newVal);
                },
                deep: true //对象内部属性的监听
            }
        },
        methods: {
            drawLine(items) {
                //初始化数据格式
                let values = [], name = [];
                items.forEach(el => {
                    values.push(el.value);
                    name.push(el.name);
                })
                // 绘制图表
                var option = {
                    // 图表的位置
                    grid: {
                        position: 'center',
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    toolbox: {
                        show: false,
                    },
                    calculable: true,
                    polar: [
                        {
                            splitNumber: 3, // 雷达图圈数设置

                            splitLine: {
                                show: true,
                                lineStyle: {
//                                    width : 1,
//                                    color : 'rgba(131,141,158,.1)', // 设置网格的颜色
                                },
                                textStyle: {
                                    color: 'white'
                                }
                            },
                            // 设置雷达图中间射线的颜色
                            axisLine: {
                                show: false
//                                lineStyle: {
//                                    color: 'rgba(131,141,158,.1)',
//                                },
                            },
                            indicator: this.items,
                            name: {textStyle: {color: 'red'}},
                            radius: 40
                        }
                    ],
                    series: [
                        {
                            type: 'radar',
                            symbol: "none", // 去掉图表中各个图区域的边框线拐点
                            itemStyle: {
                                normal: {
                                    areaStyle: {
//                                        type: 'default',
                                        color: '#be2344'
                                    }
                                }
                            },
                            data: [
                                {
                                    value: values,
                                },
                            ]
                        }
                    ]
                }
                // 基于准备好的dom，初始化echarts实例
                let myChart = this.$echarts.init(document.getElementById('mychart'));
                myChart.setOption(option, true);
                $('canvas').css('margin-top','-5%');
                $('canvas').css('margin-left','-5%');
                //图标自适应屏幕大小
                window.addEventListener("resize", function () {
                    myChart.resize();
                })
            }
        },

    }
</script>