<template>
    <div class="vfooter">
        <!--综合功能&#45;&#45;开始-->
        <!--底部html&#45;&#45;开始-->
        <div class="public_css footer">
            <div class="company_present">
                <p>{{site.icp}}</p>
                <p>{{site.copyright}}</p>
            </div>
            <a class="return_vertex" @click="totop()">
                <img src="../assets/image/m_hudb_im1.png"/>
            </a>
        </div>
        <!--底部html&#45;&#45;结束-->

    </div>
</template>

<script>
    export default {
        data() {
            return {
                show_vshare: 0,
                shareinfo: {
                    kj_title: '《超级实况》手游攻略中心',
                    content: '这是标题',
                },
                site : {
                    icp : '',
                    copyright : '',
                }
            }
        },
        watch: {
            $route: {
                handler: function (val, oldVal) {
                    this.$nextTick(function () {  //页面加载完成后执行
                        if (val.name == 'index' || val.name == '/') {
                            this.show_vshare = 0;
                        } else {
                            this.show_vshare = 1;
                        }
                        this.totop();
                    })
                },
                // 深度观察监听
                deep: true
            }
        },
        created() {
            this.getSiteInfo();
        },
        methods: {
            getSiteInfo() {
                //获得基本的站点信息
                this.$get("/site", {}).then((data) => {
                    if (data.code == 200) {
                        document.title = data.data.name;
                        var link = document.querySelector("link[rel*='icon']");
                        link.setAttribute("href", data.data.logo);
                        this.site.icp = data.data.icp_num;
                        this.site.copyright = data.data.copyright;
                    }
                });
            },
            totop() {
                var timer = null;
                timer = setInterval(function () {
                    var _top = document.body.scrollTop + document.documentElement.scrollTop;
                    var speed = _top / 5;
                    if (document.body.scrollTop) {
                        document.body.scrollTop -= speed;
                    } else {
                        document.documentElement.scrollTop -= speed;
                    }
                    if (_top == 0) {
                        clearInterval(timer);
                    }
                }, 20)
            }
            ,
        }
        ,
    }
</script>
<style>
    .vfooter .game_characteristic {
        /*border:1px solid red;*/
        /*background-position: 0% 100%;*/
        /*background-size: cover;*/
    }

    .share_layer {
        display: block;
    }
</style>
