<template>
    <div>
        <div class="public_css xiazai_back vheader">
            <div class="head_bor">
                <div class="xiaz_bor">
                    <div class="logo_box"><img src="../assets/image/m_icon.png"/></div>
                    <div class="game_name_js">
                        <h1>超级实况</h1>
                        <p>全新即时操控足球竞技手游</p>
                    </div>
                </div>
                <div class="xiaz_botton" width="30%" @click="showConfirm()">
                    <img src="../assets/image/lijixiazai.jpg?t=201906171645"/>
                </div>
            </div>
        </div>
        <!--头部大图&#45;&#45;开始-->
        <div class="zhanw"></div>
        <div class="public_css pos" v-if="$route.name == 'index' || $route.name == '/'">
            <img :src="head_banner" class="head_img"/>
            <div class="yuyue_bor">
                <div class="yuyue_content">
                    <a href="javascript:;" class="yuyue" @click="showPop(1)"><img src="../assets/image/m_yuyue.png"></a>
                    <div class="jiantou"></div>
                </div>
            </div>
        </div>
        <!--头部大图&#45;&#45;结束-->
        <!--返回横条-->
        <div class="fanhui">
            <!--<div class="zhanw"></div>-->
            <div class="public_css return_buttom" v-show="$route.name != 'index' && $route.name != '/'">
                <!--<a href="javascript:window.history.go(-1);" class="iconfont icon-fanhui8"></a>-->
                <!--<a href="javascript:window.history.go(-1);" class="iconfont icon_fanhui"></a>-->
                <a href="javascript:window.history.go(-1);" class="iconfont">
                    <img src="../assets/image/fanhui.png"/>
                </a>
                <a href="javascript:window.history.go(-1);"
                   class="return_font" style="line-height:3.2rem">返回</a>
            </div>
        </div>
        <!--返回横条-->
        <!--预约礼包&#45;&#45;开始-->
        <div class="floating_layer" style="display: block;overflow: visible" v-if="is_show_mask == 1">
            <div class="floating_layer_bor">
                <div class="colse_yuyue" @click="showPop(0)"><img src="../assets/image/m_tk_banding_close.png"/></div>
                <div class="reservation_center">
                    <div class="tel_type">
                        <div><p :class="{tel_type_selected:device_type == 'ios'}" @click="chooseDevice('ios')">IOS</p>
                        </div>
                        <div><p :class="{tel_type_selected:device_type == 'android'}" @click="chooseDevice('android')">
                            Android</p></div>
                    </div>
                    <div class="public_css kong">
                        <div class="iconfont icon-shouji tel_img"></div>
                        <input value="" type="text" name="tel" placeholder="请输入手机号" class="tel"
                               v-model="dataJson.mobile"/>
                    </div>
                    <div class="public_css kong">
                        <div class="iconfont icon-yuechi1 tel_img"></div>
                        <input value="" type="text" name="psword" placeholder="图形验证码" class="psword"
                               v-model="dataJson.verify_res"/>
                        <div class="send_code" style="background: none" @click="getCaptcha()"><img :src="captcha_url"/>
                        </div>
                    </div>
                    <div class="public_css kong">
                        <div class="iconfont tel_img icon-yuechi1"></div>
                        <input value="" type="text" name="psword" placeholder="验证码" class="psword"
                               v-model="dataJson.code"/>
                        <div class="send_code" id="getCode" @click="sendCode()" v-if="noget">发送验证码</div>
                        <div class="send_code" @click="sendCode()" v-else>{{settimes}}</div>
                    </div>
                    <div class="public_css kong now_yuyue" style="position: relative" @click="subscription()">立即预约</div>
                </div>
                <p class="loginTips" :style="{display: displayStyle}" id="loginTips"><span>{{tips}}</span></p>
            </div>
        </div>
        <!--预约礼包&#45;&#45;结束-->
        <!--自定义弹窗引用 start-->
        <confirm ref="Confirm"></confirm>
        <!--自定义弹窗引用 end-->
    </div>

</template>

<script>
    // @ is an alias to /src
    import $ from "jquery";
    import Confirm from '@/components/Confirm.vue'

    export default {
        components: {
            Confirm
        },
        data() {
            return {
                head_banner: '',
                captcha_url: '',
                switch: false,
                displayStyle: 'none',
                tips: '这是提示信息',
                noget: 1, //默认没有获取验证码
                settimes: 60,
                is_show_mask: 0,
                device_type: 'ios',
                captcha: '',
                dataJson: {},
            }
        },
        mounted() {
            this.getHeight();
        },
        created() {
            this.getHeadBanner();
        },
        methods: {
            getHeadBanner() {
                //获得头图banner
                this.$get("/banners", {
                    category_id: 3, //固定写死轮播图的分类ID
                    client_type: 2, //客户端 h5
                }).then((data) => {
                    if (data.data.length == 1) {
                        this.head_banner = data.data[0]['img_url'];
                    }
                });
            },
            getCaptcha() {
                this.captcha_url = this.GLOBAL.SITE_DOMAIN + '/' + this.GLOBAL.SITE_NO + '/captcha?t=' + Math.random();
            },
            //预约弹窗
            showPop(isShow) {
                this.dataJson = {};
                this.is_show_mask = isShow;
                if (isShow) {
                    this.noget = 1;
                    this.settimes = 60;
                    this.switch = false;
                    this.getCaptcha();
                } else {
                    this.settimes = 0;
                }
            },
            showConfirm() {
                this.$refs.Confirm.show('敬请期待！',{
                    type : 'alert',
                    confirmText: '确定',
                });
            },
            //选择设备类型
            chooseDevice(device_type) {
                this.device_type = device_type;
                this.dataJson = {};
            },
            sendCode() {
                if (this.noget == 1) {
                    var requestData = this.dataJson;
                    if (!requestData['mobile']) {
                        this.processTips(1, '请输入手机号');
                        return;
                    } else if (!this.verifyPhone(requestData['mobile'])) {
                        this.processTips(1, '手机号码格式不正确');
                        return;
                    } else if (!requestData['verify_res']) {
                        this.processTips(1, '请输入图形验证码');
                        return;
                    } else {
                        this.$post("/sms/code", {
                            mobile: requestData['mobile'],
                            type: 1,
                            verify_res: requestData['verify_res']
                        }).then((data) => {
                            if (data.code == 200) {
                                var getCode = document.getElementById('getCode');
                                this.settime(getCode);
                            } else if (data.code == 10005) {
                                this.processTips(1, '图形验证码不正确');
                            } else if (data.code == 10006) {
                                this.processTips(1, '超过每日IP短信获取上限');
                            } else if (data.code == 10007) {
                                this.processTips(1, '超过每日短信获取总上限');
                            } else if (data.code == 10002) {
                                this.processTips(1, '手机号已预定');
                            } else if (data.code == 10003) {
                                this.processTips(1, '频繁获取验证码');
                            } else {
                                this.processTips(1, '发送验证码失败');
                            }
                        });
                    }
                }
            },
            subscription() {
                var requestData = this.dataJson;
                if (!requestData['mobile']) {
                    this.processTips(1, '请输入手机号');
                } else if (!this.verifyPhone(requestData['mobile'])) {
                    this.processTips(1, '手机号格式错误');
                } else if (!requestData.code) {
                    this.processTips(1, '请输入短信验证码');
                    return;
                } else if (!requestData['verify_res']) {
                    this.processTips(1, '请输入短信验证码');
                    return;
                } else {
                    this.$post("/subscription", {
                        mobile: requestData['mobile'],
                        code: requestData['code'],
                        os_type: this.device_type == 'ios' ? 2 : 1
                    }).then((data) => {
                        if (data.code == 200) {
                            this.processTips(1, '预约成功');
                            var vm = this;
                            setTimeout(function () {
                                vm.showPop(0);
                            }, 2000);
                        } else if (data.code == 10004) {
                            this.processTips(1, '验证码不正确');
                        } else {
                            this.processTips(1, '预约失败');
                        }
                    });
                }

            },
            processTips: function (show, tips) {
                if (show) {
                    this.tips = tips;
                    this.displayStyle = 'block';
                    this.switch = true;
                    this.getCaptcha();
                } else {
                    this.displayStyle = 'none';
                    this.switch = false;
                }
                if (this.switch == true) {
                    setTimeout(this.processTips, 4000);
                }
            },
            verifyPhone: function (telephone) {
                var telReg = !!telephone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[6780]|18[0-9]|14[57])[0-9]{8}$/);
                return telReg;
            },
            settime: function (object) {
                var that = this;
                if (that.settimes == 0) {
                    object.innerText = "获取验证码";
                    that.noget = 1;
                    that.settimes = 60;
                } else {
                    object.innerText = "重新发送(" + that.settimes + ")";
                    that.noget = 0;
                    that.settimes--;
                    setTimeout(function () {
                        that.settime(object)
                    }, 1000);
                }
            },
            getHeight() {
                this.browserRedirect();
//                //获取下载这个div的高度，给它下面div赋高度站位
                var div_height = $('.xiazai_back').innerHeight();
                $('.zhanw').css('height', div_height);
//                $('.return_buttom').css('line-height',div_height);
                console.info(div_height);
//                //获取player_animation的宽度计算每个球员图片占用的宽度
//                var div_width = $('.player_animation').width();
//                $('.each_player_img').css('width', div_width / 3);
            },
            browserRedirect() {
                var sUserAgent = navigator.userAgent.toLowerCase();
                // var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
                var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
                var bIsMidp = sUserAgent.match(/midp/i) == "midp";
                var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
                var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
                var bIsAndroid = sUserAgent.match(/android/i) == "android";
                var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
                var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
                //document.writeln("您的浏览设备为：");
                if (bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                    //document.writeln("phone");
                } else {
                    //
                    $("body").css({
                        "position": "relative",
                        "width": "420px",
                        "margin-right": "auto",
                        "margin-left": "auto"
                    });
                    $(".xy_m_layout").css({"margin-left": "auto", "width": "420px", "margin-right": "auto"});
                    $("body").css("font-size", "12px");
                    $(".head_bor").css("width", "420px");
                    $(".floating_layer_bor").css("width", "344px");
                    $(".xy_m_ldy_ios_top").css({"position": "relative"});
                    $(".great_tk").css({"position": "relative", "width": "350px", "margin-top": "10%"});
                    $(".xy_m_annu").css({"position": "relative", "width": "350px", "margin-top": "129%"});
                }
            },
        },
    }
</script>
<style>
    .loginTips {
        line-height: 40px;
        text-align: center;
        margin: 3% auto 0;
        display: none;
        font-style: normal;
    }

    .loginTips span {
        background: #bbb;
        color: #fff;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .iconfont img {
        width: 55%;
    }
    /*.fanhui .icon_fanhui img {*/
        /*background: url(../assets/image/fanhui.png) center center no-repeat;*/
        /*background-size: 50%;*/
        /*background-color:#2F3239;*/
    /*}*/
    .icon-shouji{
        content: '';
        background: url(../assets/image/phone.png) center center no-repeat;
        background-size: 50%;
        background-color:#F7F7F7;
    }
    .icon-yuechi1 {
        content: '';
        background: url(../assets/image/yuechi.png) center center no-repeat;
        background-size: 50%;
        background-color:#F7F7F7;
    }
    /*调整顶部下载框和log等*/
</style>
