<template>
    <div class="">
        <!--分享内容开始-->
        <div class="complex complexs" style="width: 90%;">
            <div class="complex_individual qq" @click="share('qqun')">
                <div class="qqqun_common qqqun"></div>
                <a class="qqqun_font_common yijian_font">一键加群</a>
            </div>
            <a href="https://www.taptap.com/app/155930">
                <div class="complex_individual wjsq">
                    <div class="qqqun_common wanjia"></div>
                    <a class="qqqun_font_common wanjia_font">玩家社区</a>
                </div>
            </a>
            <div class="complex_individual fx" @click="showShare(1)">
                <div class="qqqun_common fenx"></div>
                <a class="qqqun_font_common fenx_font">分享伙伴</a>
            </div>
            <div class="complex_individual" @click="isToPc()">
                <div class="qqqun_common web"></div>
                <a class="qqqun_font_common web_font">电脑版</a>
            </div>
        </div>
        <!--分享内容结束-->
        <!--分享&#45;&#45;开始-->
        <div class="share_layer" style="display: block" v-if="is_share == 1">
            <div class="share_layer_bor">
                <div class="public_css colse_share" style="height:50rem;" @click="showShare(0)"></div>
                <div class="public_css share_title_img" v-if="wx_share"
                     style="position: absolute;top: 9%;width: 87%;height: auto">
                    <img src="../assets/image/wx_share.png"/>
                </div>

                <div class="public_css" style="width: 80%;position: absolute;top: 50%;height: auto"
                     v-if="content_share == 1">
                    <a class="apiece_share">
                        <div class="copy" data-clipboard-action="copy" :data-clipboard-text="url" @click="copyLink()">
                            <img src="../assets/image/m_tk_tb1.png"/>
                            <p>复制链接</p></div>
                    </a>
                    <a class="apiece_share">
                        <div @click="share('weixin')"><img src="../assets/image/m_tk_tb2.png"/>
                            <p>微信</p></div>
                    </a>
                    <a class="apiece_share">
                        <div @click="share('weibo')"><img src="../assets/image/m_tk_tb3.png"/>
                            <p>微博</p></div>
                    </a>
                    <a class="apiece_share">
                        <div @click="share('kj')"><img src="../assets/image/m_tk_tb4.png"/>
                            <p>空间</p></div>
                    </a>
                </div>
                <p class="loginTips" :style="{display: displayStyle}" id="loginTips"><span>{{tips}}</span></p>
            </div>
        </div>
        <!--分享&#45;&#45;结束-->
        <!--一键加群弹窗 start-->
        <div class="floating_layer" style="display: block;overflow: hidden" v-if="qqun_share">
            <div class="floating_layer_bor qqun_layer">
                <div class="colse_yuyue qqewm" @click="qqun_share = 0"><img src="../assets/image/m_tk_banding_close.png"/>
                </div>
                <div class="reservation_center qqun_center">
                    <div class="public_css">
                        <h2>
                            <span style="color: #be2343">更多公测爆料</span>请扫码关注
                        </h2>
                        <h1>
                            超级实况玩家交流群
                        </h1>
                    </div>
                    <div class="public_css">
                        <div class="qq_imgbox">
                            <img style="pointer-events: auto" :src="qq_ewm"/>
                        </div>
                    </div>
                    <div class="public_css">
                        <div class="qun_number">群号：
                            {{qq_num}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--一键加群弹窗 end-->
    </div>

</template>
<script>
    export default {
        name: 'vshare',
        props: {                //接受父组件传递来的数据
            info: {
                type: Object,
            },
        },
        data() {
            return {
                qq_num : "",
                qq_ewm : "",
                qqun_share : 0,//一键加群显示
                wx_share: 0,//微信引导share
                is_share: 0, //弹窗share
                content_share: 1,//列表分享share
                url: location.href,
                displayStyle: 'none',
                tips: '',
                switch: false,
                vshare: "", //echart实例
            }
        },
        created : function() {
            this.getSite();
            this.getSocial();
        },
        methods: {
            //获得QQ号信息
            getSite() {
                //获得基本的站点信息
                this.$get("/site", {}).then((data) => {
                    if (data.code == 200) {
                        this.qq_num = data.data.qq;
                    }
                });
            },
            getSocial() {
                //获得q群二维码
                this.$get("/site/social", {}).then((data) => {
                    if (data.code == 200) {
                        this.qq_ewm = data.data.qq_qrcode;
                    }
                });
            },
            copyLink() {
                console.log('copy link...');
                let that = this;
                let clipboard = new this.clipboard(".copy");
                clipboard.on('success', function () {
                    that.processTips2(1, '复制成功');
                });
                clipboard.on('error', function () {
                    that.processTips2(1, '复制失败');
                });
            },
            //复制剪切板显示提示信息
            processTips2: function (show, tips) {
                if (show) {
                    this.tips = tips;
                    this.displayStyle = 'block';
                    this.switch = true;
                } else {
                    this.displayStyle = 'none';
                    this.switch = false;
                }
                if (this.switch == true) {
                    setTimeout(this.processTips2, 2000);
                }
            },
            showShare(is_show) {
                this.is_share = is_show;
                this.wx_share = 0;
                this.content_share = 1;
                if (is_show) {
                    //禁止页面滑动
                    var mo = function (e) {
                        e.preventDefault();
                    };
                    document.body.style.overflow = 'hidden';
                    document.addEventListener("touchmove", mo, false);//禁止页面滑动
                } else {
                    var mo = function (e) {
                        e.preventDefault();
                    };
                    document.body.style.overflow = '';//出现滚动条
                    document.removeEventListener("touchmove", mo, false);
                }
            },
            share(channel) {
                var content = '顶级品质模型，畅爽操控体验。快来加入由FIFPro官方授权，全新即时操控足球竞技手游《超级实况》，共同点燃绿茵战场！';
                var pic = 'http://' + document.domain + '/images/fenx.png';
                var kj_site = '超级实况';
                var kj_title = '超级实况游戏分享';
                var kj_content = content;
                if (this.info) {
                    content = this.info.content ? this.info.content : content;
                    pic = this.info.pic ? this.info.pic : pic;
                    kj_title = this.info.kj_title ? this.info.kj_title : kj_title;
                    kj_site = this.info.kj_site ? this.info.kj_site : kj_site;
                }
                if (channel == 'weibo') {
                    var url = 'http://service.weibo.com/share/share.php?url=' + encodeURIComponent(window.location.href) + '&searchPic=false&title=' + content + '&pic=' + pic;
                    console.info(url);
                    location.href = url;
                } else if (channel == 'kj') {
                    var url = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + encodeURIComponent(window.location.href) + '&desc=' + kj_content + '&site=' + kj_site + '&title=' + kj_title + '&pics=' + pic;
                    console.info(url);
                    location.href = url;
                } else if (channel == 'weixin') {
                    this.content_share = 0;
                    this.wx_share = 1;
                } else if (channel == 'qqun') {
                    this.qqun_share = 1;
                }

            },
            isToPc() {
                console.info('PC端');
                var domain = 'http://' + document.domain;
                var url;
                switch (this.$route.name) {
                    case '/':
                    case 'index':
                        url = domain;
                        break;
                    case 'news':
                        url = domain + '/list.html?id=2';
                        break;
                    case 'gonglue':
                        url = domain + '/list.html?id=3';
                        break;
                    case 'detail':
                        var id = this.$route.query.id;
                        url = domain + '/detail.html?id=' + id;
                        break;
                }
                window.location.href = url;
            },
        },
    }
</script>
<style>
    .share_layer .loginTips {
        position: absolute;
        top: 65%;
        left: 40%
    }

    .share_layer .loginTips span {
        display: inline-block;
        line-height: 100%
    }
    .qqun_layer{
        top: -7%;
        border-radius: 5%;
    }
    .qqun_layer, .qqewm, .reservation_center {
        transform: skewX(0deg);
    }
    .qun_number {
        background: url(../assets/image/qunhao_bg.png) no-repeat center center;
        background-size: cover;
    }
    .qqun_center {
        text-align: center;
        font-weight: bolder;
    }
    .qqun_center h2,span{
        font-size: 1.45rem;
    }
    .qqun_center h1{
        font-size: 1.8rem;
    }
    .qqun_center .qun_number{
        width: 93%;
        color: white;
        font-size: 1.4rem;
        line-height: 2.5rem;
        text-align: center;
    }
    .qq_imgbox {
        width: 225px;height: 225px;
        margin:0 auto;
    }
    .qq_imgbox img {
        width: 100%;height: 100%;
    }
</style>