<template>
    <div id="app">
        <div class="body">
            <v-header></v-header>
                <router-view/>
            <v-footer></v-footer>
        </div>

    </div>
</template>
<script>
    // @ is an alias to /src
    import VHeader from '@/components/VHeader.vue'
    import VFooter from '@/components/VFooter.vue'

    export default {
        name: 'vheader',
        components: {
            VHeader,
            VFooter,
        },
        created : function() {
            this.$store.state.isActive = this.$route.name;
            this.isToPc();
        },
        watch:{

        },
        mounted() {

        },
        methods : {
            isToPc() {
                //移动端跳转PC
                if (this.isMobile()) {
                    console.info('手机端')
                } else {
                    console.info('PC端');
                    var domain = 'http://' + document.domain;
                    var url;
                    switch (this.$route.name) {
                        case '/':
                        case 'index':
                            url = domain;
                            break;
                        case 'news':
                            url = domain + '/list.html?id=2';
                            break;
                        case 'gonglue':
                            url = domain + '/list.html?id=3';
                            break;
                        case 'detail':
                            var id = this.$route.query.id;
                            url = domain + '/detail.html?id=' + id;
                            break;
                    }
                    window.location.href = url;
                }
            },
            isMobile() {
                let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
                return flag;
            }
        }
    }
</script>
<style>
    @import './assets/css/common.css';
    @import './assets/css/index.css';
    .slide-right-enter-active,
    .slide-right-leave-active,
    .slide-left-enter-active,
    .slide-left-leave-active {
        will-change: transform;
        transition: all 500ms;
        position: absolute;
    }
    .slide-right-enter {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    .slide-right-leave-active {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    .slide-left-enter {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    .slide-left-leave-active {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    img {
        pointer-events: none;
    }
</style>